*{
    padding: 0;
    margin: 0;
}

body {
    background: #000000;
}

/*.Login-Container {
    background: #000000;
    height: 100vh;
    display: flex;
    flex-direction: column;
}*/

.title { 
    width: 50%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    color: #e91e63;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    font-family: sans-serif;
    font-style:italic;
}

fieldset {
    width: 420px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 30px 0px 30px;
    border-color: #03a9f4;
}

fieldset legend {
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}

form{
    display:grid;
    text-align: center;
}

form label {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 17px;
    margin: 60px 0px 5px 0px;
    padding: 0px 0px 0px 0px;
    color: white;
}

form input {
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px 0px 10px 0px;
    border-radius: 50px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: none;
}

form button{
    margin: 80px 0px 20px 0px;
    padding: 10px 0px 10px 0px;
    border-radius: 50px;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    background: #e91e63;
    transition: all 0.3s ease;
    cursor: pointer;
}

form button:hover{
    border: none;
    background: white;
    color: #e91e63;
    box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1, 0px 0px 8px 8px #e91e63;
    transform: scale(0.9);
}

form .respuestalogin{
    text-align: center;
    color: white;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 20px 0px;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
}


/*------------------------------------------------------OPCIONES----------------------------------------------------*/

fieldset .opciones {
    text-align: center;
    display:grid;
    width: 420px;
    padding: 0px 30px 0px 30px;
}


fieldset .opciones button {
    margin: 30px 0px 30px 0px;
    padding: 10px 0px 10px 0px;
    border-radius: 50px;
    background-color: #e91e63;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
}

fieldset .opciones button:hover,
fieldset #adivina .adi form .veri:hover,
fieldset #sesion .cerrar .veri:hover {
    border: none;
    background: white;
    color: #e91e63;
    box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1, 0px 0px 8px 8px #e91e63;
    transform: scale(0.9);
}

/*------------------------------------------------ADIVINANZA-----------------------------------------*/


fieldset #adivina .adi {
    margin: 20px 0px 20px 0px ;
}

fieldset #adivina .adi form p{
    margin: 20px 0px 0px 0px;
    padding: 20px 0px 20px 0px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}

fieldset #adivina .adi form label {
    margin: 30px 0px 10px 0px;
}

fieldset #adivina .adi form input {
    margin: 5px 25% 20px 25%;  
}

fieldset #adivina .adi form .veri{
    margin: 10px 40px 20px 40px;
    padding: 5px 0px 5px 0px;
    font-size: 30px;
}

fieldset #adivina .adi form .respuestaadi {
    text-align: center;
    color: white;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 20px 0px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

/*------------------------------------------------CERRAR SESION-----------------------------------------*/

fieldset #sesion .cerrar {
    display: grid;
    margin: 20px 0px 20px 0px;
}

fieldset #sesion .cerrar form p{
    text-align: center;
    margin: 20px 0px 0px 0px;
    padding: 20px 0px 20px 0px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}

fieldset #sesion .cerrar form label {
    color: white;
    padding: 0px 0px 0px 0px;
    margin: 30px 0px 10px 0px;
    font-size: 17px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
}

fieldset #sesion .cerrar form input {
    margin: 5px 25% 20px 25%; 
    padding: 10px 0px 10px 0px;
    border-radius: 50px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: none;
}

fieldset #sesion .cerrar form .veri{
    margin: 10px 40px 20px 40px;
    padding: 5px 0px 5px 0px;
    font-size: 30px;
    border-radius: 50px;
    background-color: #e91e63;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
}

fieldset #sesion .cerrar form .respuestacerrar{
    text-align: center;
    color: white;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 20px 0px;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
}


